.projects-showcase {
    text-align: center;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    .project-card {
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
  
      h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 1.2rem;
      }
    }
  }